@charset "utf-8";

body {
    font-family: 'Stick', sans-serif;
    text-align: center;
    font-size: 70px;
    background: #c2dada;
    color: #caae67;
}

h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

p {
    font-size: 20px;
    margin-top: 0;
}

table {
    width: 350px;
    height: 350px;
    margin: 40px auto 0 auto;
}

tr:nth-child(2) {
    border-top: 1px solid #789485;
    border-bottom: 1px solid #789485;
}

td:nth-child(2), 
td:nth-child(4),
td:nth-child(6) {
    border-right: 1px solid #789485;
    border-left: 1px solid #789485;
}

td {
    width: calc(33%);
    height: calc(33%);
    background: #f6dfde;
    color: #caae67;
    font-family: 'Rampart One', cursive;
}

#result {
    width: 450px;
    font-size: 40px;
    margin: 30px auto 0 auto;
    color: #789485;
}